body {
  background-image: url("./assets/android_weather_app.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.searchInput {
  padding: 20px 50px 20px 20px;
  width: 50%;
  display: block;
  margin: 15px auto;
  background: #1e202b;
  border: none;
  border-radius: 50px;
  outline: none;
  color: #fff !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.searchInput:focus {
  background: #1e202b;
}

.searchInput::placeholder {
  color: #fff;
}

.currentWeather {
  width: 350px;
}

.weather {
  margin: 5px;
  background-color: #1e202b;
  color: #f1f1f1;
  padding: 14px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.temp {
  font-size: 1.5rem;
}

.header {
  color: whitesmoke;
  text-align: center;
  font-weight: lighter;
}
