body {
  background: #f1f1f1;
}

.searchInput {
  padding: 20px 50px 20px 20px;
  width: 50%;
  display: block;
  margin: 50px auto;
  background: #1e202b;
  border-radius: 30px;
  outline: none;
  border: none;
  color: #fff !important;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
